---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: jenkins2tekton-operator-controller-manager
  labels:
    app.kubernetes.io/name: jenkins2tekton-operator
    app.kubernetes.io/component: controller-manager
